

//Font Family
$raleway: "Raleway", sans-serif;
$open-sans: "Open Sans", sans-serif;

//Font Sizes
$large: 1.25rem;
$medium: 1rem;
$small: 0.875rem;
$x-small: 0.75rem;

/* Si se utiliza un mixin, no especificar la unidad de medida*/